Skyticket/Connected Services/ContactService/ws_ValidaDatos_Clie.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://ws.tickets.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="ws_ValidaDatos_Clie" targetNamespace="http://ws.tickets.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://104.197.8.205:8084/ws_ValidaDatos/ws_ValidaDatos_Clie?xsd=1" namespace="http://ws.tickets.com/" />
    </xsd:schema>
  </types>
  <message name="Consulta">
    <part name="parameters" element="tns:Consulta" />
  </message>
  <message name="ConsultaResponse">
    <part name="parameters" element="tns:ConsultaResponse" />
  </message>
  <message name="Actualiza">
    <part name="parameters" element="tns:Actualiza" />
  </message>
  <message name="ActualizaResponse">
    <part name="parameters" element="tns:ActualizaResponse" />
  </message>
  <message name="InsertaReg">
    <part name="parameters" element="tns:InsertaReg" />
  </message>
  <message name="InsertaRegResponse">
    <part name="parameters" element="tns:InsertaRegResponse" />
  </message>
  <portType name="ws_ValidaDatos_Clie">
    <operation name="Consulta">
      <input wsam:Action="http://ws.tickets.com/ws_ValidaDatos_Clie/ConsultaRequest" message="tns:Consulta" />
      <output wsam:Action="http://ws.tickets.com/ws_ValidaDatos_Clie/ConsultaResponse" message="tns:ConsultaResponse" />
    </operation>
    <operation name="Actualiza">
      <input wsam:Action="http://ws.tickets.com/ws_ValidaDatos_Clie/ActualizaRequest" message="tns:Actualiza" />
      <output wsam:Action="http://ws.tickets.com/ws_ValidaDatos_Clie/ActualizaResponse" message="tns:ActualizaResponse" />
    </operation>
    <operation name="InsertaReg">
      <input wsam:Action="http://ws.tickets.com/ws_ValidaDatos_Clie/InsertaRegRequest" message="tns:InsertaReg" />
      <output wsam:Action="http://ws.tickets.com/ws_ValidaDatos_Clie/InsertaRegResponse" message="tns:InsertaRegResponse" />
    </operation>
  </portType>
  <binding name="ws_ValidaDatos_CliePortBinding" type="tns:ws_ValidaDatos_Clie">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Consulta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Actualiza">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="InsertaReg">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ws_ValidaDatos_Clie">
    <port name="ws_ValidaDatos_CliePort" binding="tns:ws_ValidaDatos_CliePortBinding">
      <soap:address location="http://104.197.8.205:8084/ws_ValidaDatos/ws_ValidaDatos_Clie" />
    </port>
  </service>
</definitions>